<div class="form-container" id="toolbar">
  <header [@fallIn]="state">
    <button routerLink="/members" class="basic-btn">Dashboard</button>
  </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>Chart 1</h3>
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
          <div class="col-sm-6">
            <h3>Column 2</h3>
            <div style="display: block;">
              <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>