<div class="form-container" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
    <button (click)="remove()" class="basic-btn">Remove</button>
  </header>
  <div id="page" [@moveInLeft]="state">
    <h2>Hey {{ firstname }} {{ lastname }} !</h2>


  </div>

  <div id="page" [@moveInLeft]="state">

    <h2>Upload Zone</h2>
  <p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="New" icon="fa-plus"></button>
        <button pButton type="button" label="Open" icon="fa-folder-open"></button>
            
        <i class="fa fa-bars"></i>
        
        <p-splitButton label="Save" icon="fa-check" [model]="items"></p-splitButton>
    </div>
    
    <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="fa-search"></button>
        <i class="fa fa-bars"></i>
        <button pButton type="button" icon="fa-refresh"></button>
        <button pButton type="button" icon="fa-trash"></button>
    </div>
</p-toolbar>


  
  </div>

</div>