<div class="form-container" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
    <button (click)="remove()" class="basic-btn">Remove</button>
  </header>
  <div id="page" [@moveInLeft]="state">
    <h2>Hey {{ firstname }} {{ lastname }} !</h2>


  </div>

  <div id="page" [@moveInLeft]="state">

    <h2>Upload Zone</h2>
  <progress value="{{percentage}}" max="100" id="uploader" >0%</progress>
  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".json">


  
  </div>

</div>